tensors/AI_For_Segmentation/model.safetensors
__pycache__/food_detect.cpython-310.pyc
__pycache__/download_models.cpython-310.pyc
tensors/AI_For_Segmentation/model.safetensors
__pycache__/food_detect.cpython-310.pyc
__pycache__/food_detect.cpython-310.pyc
tensors/gemma-3-4b-it-qat-Q2_K.gguf
tensors/AI_For_Segmentation/pytorch_model.bin